.container_about {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 60%;
  display: grid;
  gap:20px 40px;
  grid-template-columns: 40% 60%;
}
.squre-img {
  background: url("../../images/aravinth3.jpg");
  height: 430px;
  width: 350px;
  background-size: cover;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  margin-left: 50px;
}
.squre {
  background-color: #f3c26b;
  position: absolute;
  transform: translate(-50px, 100px);
  height: 380px;
  z-index: 0;
  margin-left: 50px;
  width: 320px;
}

.about-content {
  font-family: "Raleway", sans-serif;
}
.about-content .name {
  color: #f3c26b;
  font-weight: 600;
  margin: 0;
  letter-spacing: 2px;
}
.about-content h2 {
  color: #fff;
  font-size: 28px;
  letter-spacing: 2px;
}
.about-content p {
  color: #929191;
  font-size: 14px;
  letter-spacing: 1px;
}
.about-content .myself {
  background-color: #313132;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  border: 0.5px solid rgb(37, 34, 34);
  gap: 15px;
}
.myself li {
  color: #fff;
  flex: 0 0 40%;
  display: inline-block;
  font-size: 13px;
  margin-right: 15px;
}
.about-social li {
  display: inline-block;
}
.about-social .follow {
  font-size: 13px;
  color: #929191;
  letter-spacing: 1px;
}
.about-social {
  margin-top: 10px;
}

.line {
  display: inline-block;
  height: 1px;
  margin-bottom: 2px;
  width: 40px;
  background: #fff;
  margin-left: 12px;
}
.line1 {
  display: inline-block;
  height: 2px;
  margin-bottom: 2px;
  width: 40px;
  background: #f3c26b;
  margin-right: 10px;
}

.about-social a {
  color: #929191;
  margin: 0 20px;
}

@media screen and (max-width: 1280px) {
  .container_about {
    margin-top: 100px;
    width: 90%;
    grid-template-columns: 50% 50%;
    gap: 3px 6px;
  }
}

@media screen and (max-width: 1024px) {
  .container_about {
    margin-top: 100px;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
  }
  .about-content .myself {
    display: inline-block;
  }
  .about-content .myself li {
    margin: 10px;
  }
}

@media screen and (max-width: 860px) {
  .container_about {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .squre {
    display: none;
  }
  .squre-img {
    border-radius: 20px;
    position: unset;
    margin: 0;
  }
  .about-content {
    margin: 0px 20px;
  }

  .about-social a {
    margin: 0 10px;
  }
}
